/* This gets set by a script in cases where the ASSET_PREFIX is set; see
 * scripts/export.sh */
$ASSET_PREFIX: "";

/* https://designsystem.digital.gov/documentation/settings/ */
@use "uswds-core" with (
  $theme-show-compile-warnings: true,
  $theme-show-notifications: false,
  $theme-banner-background-color: "ink",
  $theme-banner-link-color: "primary-light",
  $theme-banner-max-width: "widescreen",
  $theme-checkbox-border-radius: "md",
  /* these are referenced from the root of the /public directory */
    $theme-font-path: "#{$ASSET_PREFIX}/uswds/fonts",
  $theme-image-path: "#{$ASSET_PREFIX}/uswds/img",
  $theme-hero-image: "#{$ASSET_PREFIX}/uswds/img/hero.webp"
);
