// taken as values from Figma
$tefca-viewer-max-width: 90rem;
$tefca-viewer-content-margin: 13.75rem;

// For pages that are left-aligned with extra spacing on the right margin
$tefca-viewer-smaller-width: 50rem;

$background-hover-color: #d9e8f680;
