@use "uswds-core" as *;
@use "_variables" as *;

.section__line {
  border-top: 1px solid #99deea;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.section__line_gray {
  border-top: 1px solid #dfe1e2;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card__line {
  border-top: 8px solid #edeff0;
}

h1 {
  margin-bottom: 0.25rem;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  margin: 0;
}

.maxw7 {
  max-width: 70%;
}

.page-title {
  font-size: 32px;
  color: white;
  background-color: #162e51;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 32px;
  margin-top: 0px;
}

.data-title {
  flex: 0 1 auto;
  width: 190px;
  font-weight: bold;
}

.accordion-rr {
  border: #111111 1px solid;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-top: 1rem;
  padding-bottom: 0.5rem;

  .usa-accordion__button {
    &:hover {
      background-color: #f0f0f0;
    }

    position: relative;
    background: white;
    padding: 12px;
    font-weight: normal;

    &[aria-expanded="true"] {
      border-bottom: #111111 1px solid;
    }
  }

  .usa-accordion__content {
    padding: 0;
  }
}

.usa-accordion__content {
  margin-top: -80px;
}

.minimize-container {
  position: absolute;
  right: 12px;
}

.list-style-none {
  list-style: none;
}

.ecrTable {
  table-layout: fixed;
  margin-bottom: 0;
  width: 100%;

  td:first-child,
  th:first-child {
    padding-left: 24px;
  }

  td:last-child,
  th:last-child {
    padding-right: 24px;
  }

  td {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  thead th {
    border-bottom-color: #a9aeb1;
  }

  tr td {
    border-bottom: none;
  }
}

.usa-summary-box__body:not(:first-child) .summary-box-key-information {
  margin-top: 20px;
}

.table-caption-margin {
  caption {
    margin-bottom: 8px;
  }
}

.usa-sidenav__item a:not(.usa-sidenav__sublist a) {
  font-weight: bold;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sticky-nav {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  position: sticky;
  top: 0;
}

.ecr-content h2:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

.lh-18 {
  line-height: 18px;
}

ul.usa-sidenav
  > li.usa-sidenav__item
  > ul.usa-sidenav__sublist
  > li.usa-sidenav__item
  > a {
  font-weight: bold;
}

ul.usa-sidenav
  > li.usa-sidenav__item
  > ul.usa-sidenav__sublist
  > li.usa-sidenav__item
  > a.usa-current {
  &::after {
    background-color: rgb(0, 94, 162);
    content: "";
    display: block;
    position: absolute;
    bottom: 0.25rem;
    top: 0.25rem;
    width: 0.25rem;
    left: 0rem;
    border-radius: 99rem;
  }
}

.clinical_info_container table {
  @include usa-table;
  @include usa-table--borderless;
  width: 100%;
  border: 1px solid;
  margin-top: 0;
  margin-bottom: 0;
}

.clinical_info_container table thead tr th {
  background-color: #f0f0f0;
  min-width: 120px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(247, 249, 250, 1);
}

.main-body {
  display: grid;
  grid-template-columns: 1fr; // Defines a single column
  justify-content: center; // Centers the column in the container
  row-gap: 0.1em; // Adjusts the gap between rows/items
  background-color: rgba(247, 249, 250, 1);
}

.home {
  display: grid;
  grid-template-columns: 1fr; // Defines a single column
  justify-content: center; // Centers the column in the container
  margin: 0 auto; // Centers the container itself if needed
  row-gap: 0.1em; // Adjusts the gap between rows/items
  max-width: 640px;
  padding: 1em;
}

.patient-search-form {
  display: grid;
  grid-template-columns: 1fr; // Defines a single column
  justify-content: center; // Centers the column in the container
  margin: 0 auto; // Centers the container itself if needed
  row-gap: 0.1em; // Adjusts the gap between rows/items
  max-width: 480px;
}

.multiple-patient-search-results {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;

  .usa-table--borderless {
    tr {
      &:hover td {
        background: rgba(217, 232, 246, 0.5);
      }
    }
  }
}

.no-patients-found {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

.usa-footer {
  margin-top: auto;
  background-color: green !important;
}

.next-button {
  max-width: 10em;
}

.search-form-section-label {
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.usa-label {
  margin-top: 1.5rem;
}

.patient-search-button {
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 11em;
}

.text-base-lightest {
  color: #f0f0f0 !important;
}

.usa-table--borderless {
  border: 1px solid black;

  thead tr th {
    background-color: #f0f0f0;
  }

  width: 100%;
}

.results-banner {
  background-color: #dfe1e2;
}

.results-banner-content {
  margin-bottom: 1rem;
  max-width: 90rem;
  height: 5rem;
  display: flex;
  align-items: center;
  display: flex;
  gap: 10px;
}

.header-footer-content {
  max-width: 98rem !important;
}

.usa-logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 6px solid #f3f3f3;
  /* Light grey */
  border-top: 6px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.content-hidden {
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: auto;
}

.gradient-blue-background {
  background: linear-gradient(
    109.54deg,
    rgba(173, 207, 220, 0.025) 8.02%,
    rgba(46, 98, 118, 0.5) 117.53%
  );

  padding: 0.5rem;
  /* Optional: some padding to make the background more noticeable */
  justify-content: left;
  display: flex;

  .container {
    display: flex;

    margin: 0 auto; // Centers the container itself if needed
    max-width: 640px;
  }
}

.sample-data-note {
  width: 637px;
  height: 26px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.62;
  color: #111111;
  display: flex;
  order: 0;
  flex-grow: 0;
}

.demo-query-filler {
  background: #faf3d1;
  border: 1px solid #fee685;
  border-radius: 4px;
  display: flex;
  width: 596px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  padding-top: 20px;
  padding-bottom: 20px;

  .usa-label {
    margin-top: 2;
  }
}

.test-query-filler {
  background: #faf3d1;
  border: 1px solid #fee685;
  border-radius: 4px;

  .usa-label {
    margin-top: 0;
  }
}

.query-customize-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.customize-query-button {
  background-color: white;
  margin-top: 0.5rem;
  align-self: flex-start;
  height: 40px;
  width: 158px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
}

.usa-button--outline:hover,
.usa-button--outline.usa-button--hover {
  background-color: white;
}

.margin-top-1 {
  margin-top: 0.5rem;
  width: 360px;
}

.custom-alert {
  color: #2e6276;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0;
}

.custom-alert .usa-alert__text {
  color: #2e6276;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.custom-alert .usa-alert__body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  white-space: nowrap;
}

.custom-alert .usa-alert__body::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%232e6276'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-6h2v6zm0-8h-2V7h2v4z'/%3E%3C/svg%3E");
  display: inline-block;
}

.blue-background-container {
  width: 100%;
  background-color: #e7f2f5;
  padding: 2rem 0;
}

.blue-background-container .text-holder {
  max-width: 640px;
  margin: 0 auto;
  text-align: left;
}

.custom-modal {
  max-width: 704px;
}

.usa-modal--lg {
  background-color: #edeff0;
  padding-top: 0;
}

.usa-modal__content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.usa-modal__main {
  margin: 0 auto;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 2rem !important;
}

.usa-modal__heading {
  font-family: "Source Sans Pro Web" !important;
  font-size: 1.219rem !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}

.modal-options {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 1rem;
  justify-content: space-around;
  line-height: 4;
  align-items: stretch;
}

.modal-option {
  flex: 1;
  background-color: white;
  border: 2px solid #005ea2;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  color: #1a4480;
  align-self: stretch;
  margin: 0;
  aspect-ratio: 1.27;
  font-family: "Source Sans Pro Web" !important;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 1.6rem;
}

#modal-2-description {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 162%;
  /* 25.92px */
  max-width: 100%;
  margin-bottom: 2.5rem;
}

.modal-option:hover,
.modal-option:active,
.modal-option.selected {
  background-color: white;
  color: #005ea2;
  border: 2px solid #005ea2;
}

/* Styles for the customize page */
.accordion-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.accordion-header {
  display: flex;
  width: 100%;
  color: var(--White, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 20px;
}

.accordion-header-cell {
  padding: 0px 24px;
  align-items: flex-start;
  gap: 60px;
  align-self: stretch;
}

.accordion-header-cell.include {
  width: 60px;
  /* Fixed width */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.accordion-header-cell.code {
  display: flex;
  width: 100px;
  align-items: flex-start;
  justify-content: space-between;
}

.accordion-header-cell.display {
  display: flex;
  width: 500px;
  align-items: flex-start;
  justify-content: space-between;
}

.accordion-subtitle {
  display: block;
  font-weight: normal;
  font-size: 16px;
  color: var(--White, #fff);
  font-size: 16px;
  line-height: normal;
}

.usa-accordion {
  // border: 1px solid #565C65;
  border-radius: 4px;
  padding: 0px;
}

.accordion-table-header {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-weight: bold;
  word-wrap: break-word;
  align-items: center;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-left: 6px;
  margin-top: 10px;
}

.accordion-items {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.accordion-item-row {
  display: flex;
  padding: 14px 24px;
  align-items: center;
  gap: 60px;
  align-self: stretch;
  justify-content: space-between;
  border-bottom: 1px solid #a9aeb1;
  width: 100%;
  box-sizing: border-box;
}

.accordion-item-row:nth-child(odd) {
  background-color: white;
}

.accordion-item-row:nth-child(even) {
  border-bottom: 1px solid var(--Base-base, #71767a);
  background: rgba(223, 225, 226, 0.5);
}

.accordion-item-cell.include {
  flex: 0 0 0%;
  text-align: left;
}

.accordion-item-cell.code {
  flex: 0 0 0%;
  text-align: left;
  white-space: nowrap;
}

.accordion-item-cell.display {
  flex: 1 1 100%;
  text-align: left;
}

.accordion-item-cell {
  padding-left: 0 24px;
  box-sizing: border-box;
}

.accordion-item {
  padding-bottom: 0 !important;

  & > div > div.padding-bottom-3 {
    padding-bottom: 0;
  }

  & > button {
    background-image: none !important;
  }

  .striped-row:nth-child(even) td,
  .striped-row:nth-child(even) th {
    background-color: #f0f0f0;
  }
}

.customize-query-table {
  border: none;
}

.hide-checkbox-label {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  & > label {
    margin-top: 0;
    width: 24px;
    height: 24px;

    &::before {
      margin-left: 0;
      width: 24px;
      height: 24px;
      background-size: 14px auto !important;
    }

    & > .hide-me {
      display: none;
    }
  }
}

// navigations
.usa-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
}

.usa-nav__primary {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

.usa-nav__primary-item {
  margin-right: 8px;
}

.usa-nav__primary-item a:hover {
  color: #565c65;
}

.usa-current a {
  font-weight: bold;
}

.custom-nav {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  padding-top: 32px;
}

.custom-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  align-items: flex-start;
  color: #565c65;
  font-family: "Source Sans Pro";
  position: relative;
}

.custom-nav li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-nav a {
  color: #565c65;
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.custom-nav a:hover,
.custom-nav a:focus {
  color: #565c65;
  background-color: transparent;
  border: none;
  outline: none;
}

.custom-nav .usa-current a {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  color: #565c65;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
}

.custom-nav .usa-current a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #005ea2;
}

.custom-nav ul::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.include-all-link {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.include-all-link:hover,
.include-all-link:focus {
  border: none;
  outline: none;
}

.usa-accordion__content {
  padding: 0;
}

.usa-accordion--bordered .usa-accordion__content {
  border-bottom: 1px solid #71767a;
  border-left: 1px solid #71767a;
  border-right: 1px solid #71767a;
  border-radius: 4px;
}

.accordion-content {
  margin: 0;
  padding: 0;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.back-link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.customize-query-container {
  max-width: 960px;
  margin: 0 auto;
}

.customize-query-grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.customize-query-grid-header {
  display: grid;
  grid-template-columns: 130px 160px 1fr;
  align-items: center;
  padding: 0px 24px;
  border-bottom: 1px solid #71767a;
  width: 100%;
}

.customize-query-grid-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.customize-query-grid-row {
  display: grid;
  grid-template-columns: 160px 160px 1fr;
  align-items: center;
  padding: 14px 0px;
}

.customize-query-grid-row:nth-child(even) {
  background-color: rgba(223, 225, 226, 0.5);
  border-bottom: 1px solid #71767a;
  border-top: 1px solid #71767a;
}

.customize-query-grid-row:last-child {
  border-bottom: none;
}

.customize-query-grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customize-query-grid-cell.code {
  justify-content: flex-start;
}

.customize-query-grid-cell.display {
  justify-content: flex-start;
}

.customize-query-grid-cell.include {
  justify-content: center;
  width: 60px;
}

hr.custom-hr {
  width: 100%;
  height: 0px;
  background-color: #ddd;
  margin-top: -6px;
  margin-bottom: 0;
  border: none;
  border-top: 1px solid #71767a;
}

.Toastify__toast-container {
  width: calc($tefca-viewer-max-width * 0.4) !important;
}

.custom-query-step-indicator .usa-step-indicator__header {
  display: none !important;
}
