@use 'uswds-core' as *;

.section__line {
  border-top: 1px solid #99DEEA;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.section__line_gray {
  border-top: 1px solid #DFE1E2;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.card__line {
  border-top: 8px solid #EDEFF0;
}

h1 {
  margin-bottom: 0.25rem;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  margin: 0;
}

.maxw7 {
  max-width: 70%;
}

.page-title {
  font-size: 32px;
  color: white;
  background-color: #162e51;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 32px;
  margin-top: 0px;
}


.data-title {
  flex:0 1 auto;
  width: 190px;
  font-weight: bold;
}

.info-container > .usa-accordion__heading > .usa-accordion__button {
  font-size: 32px;
  color: white !important;
  background-color: #2E6276;
  &:hover {
    background-color: #224856;
  }
}

.accordion-rr {
  border: #111111 1px solid;
  border-radius: .25rem;
  overflow: hidden;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  .usa-accordion__button{
    &:hover {
      background-color: #F0F0F0;
    }
    position: relative;
    background: white;
    padding: 12px;
    font-weight: normal;
    &[aria-expanded="true"] {
      border-bottom: #111111 1px solid;
    }
  }
  .usa-accordion__content{
    padding: 0
  }
}

.minimize-container {
  position: absolute;
  right: 12px;
}

.list-style-none {
  list-style: none;
}

.ecrTable {
    table-layout: fixed;
    margin-bottom: 0;
    width: 100%;
    td:first-child, th:first-child {
      padding-left: 24px;
    }
    td:last-child, th:last-child {
      padding-right: 24px;
    }
    td {
      padding-top: 14px;
      padding-bottom: 14px;
    }
    thead th{
      border-bottom-color: #A9AEB1;
    }
    tr td{
      border-bottom: none;
    }
}

.usa-summary-box__body:not(:first-child) .summary-box-key-information {
  margin-top: 20px;
}

.table-caption-margin {
  caption {
    margin-bottom: 8px;
  }
}
.usa-sidenav__item a:not(.usa-sidenav__sublist a) {
  font-weight: bold;
}

.main-container {
  display: flex;
  justify-content: center;
  overflow: visible;
}

.content-wrapper {
  display: flex;
  // max-width: 1440px;
  justify-content: center;
  gap: 48px;
  overflow: visible;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 48px;
  min-width: 250px;
}

.sticky-nav {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  position: sticky;
  top: 0;
}

.ecr-viewer-container {
  display: flex;
  flex-basis: auto;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

.ecr-content h2:first-of-type {
    margin-top: 0;
    padding-top: 0;
}

.lh-18 {
  line-height: 18px;
}

ul.usa-sidenav > li.usa-sidenav__item > ul.usa-sidenav__sublist > li.usa-sidenav__item > a {
    font-weight: bold;
}

ul.usa-sidenav > li.usa-sidenav__item > ul.usa-sidenav__sublist > li.usa-sidenav__item > a.usa-current {
    &::after{
      background-color: rgb(0, 94, 162);
      content: "";
      display: block;
      position: absolute;
      bottom: 0.25rem;
      top: 0.25rem;
      width: 0.25rem;
      left: 0rem;
      border-radius: 99rem;
    }
}

.clinical_info_container table {
  @include usa-table;
  @include usa-table--borderless;
  width: 100%;
  border: 1px solid;
  margin-top: 0;
  margin-bottom: 0;
}

.clinical_info_container table thead tr th {
  background-color: #f0f0f0;
  min-width: 120px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-body {
  display: grid;
  grid-template-columns: 1fr; // Defines a single column
  justify-content: center; // Centers the column in the container
  row-gap: 0.1em; // Adjusts the gap between rows/items
}

.home {
  display: grid;
  grid-template-columns: 1fr; // Defines a single column
  justify-content: center; // Centers the column in the container
  margin: 0 auto; // Centers the container itself if needed
  row-gap: 0.1em; // Adjusts the gap between rows/items
  max-width: 640px;
}

.patient-search-form {
  display: grid;
  grid-template-columns: 1fr; // Defines a single column
  justify-content: center; // Centers the column in the container
  margin: 0 auto; // Centers the container itself if needed
  row-gap: 0.1em; // Adjusts the gap between rows/items
  max-width: 480px;
}

.multiple-patient-search-results {
  display: grid;
  grid-template-columns: 1fr; 
  justify-content: center; 
  margin: 0 auto; 
  max-width: 1000px;
}

.no-patients-found {
  display: grid;
  grid-template-columns: 1fr; 
  justify-content: center; 
  margin: 0 auto; 
  max-width: 1000px;
}
.usa-footer {
  margin-top: auto;
}

.get-started-button{
  max-width: 8em;
}

.search-form-section-label {
  margin-bottom: 0;
  margin-top:1.5rem;
}

.usa-label {
  margin-top: 1.5rem;
}

.patient-search-button {
  margin-top: 2.0rem;
  margin-bottom: 4.0rem;
  max-width: 11em;
}

.text-base-lightest {
  color: #f0f0f0!important;
}


.usa-table--borderless {
  border: 1px solid black;
  thead tr th {
    background-color: #f0f0f0;
  }
  width: 100%;
}
.results-banner {
  background-color: #DFE1E2;
}
.results-banner-content {
  margin-bottom: 1rem;
  max-width: 90rem;
  height: 5rem;
  display: flex;
  align-items: center;
  // padding-left: 10rem;
}

.header-footer-content {
  max-width: 98rem !important;
}

.usa-logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}