@use "uswds-core" as *;
@use "_variables" as *;

.section__line {
  border-top: 1px solid #99deea;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.section__line_gray {
  border-top: 1px solid #dfe1e2;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card__line {
  border-top: 8px solid #edeff0;
}

h1 {
  margin-bottom: 0.25rem;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  margin: 0;
}

.maxw7 {
  max-width: 70%;
}

.page-title {
  font-size: 32px;
  color: white;
  background-color: #162e51;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 32px;
  margin-top: 0px;
}

.data-title {
  flex: 0 1 auto;
  width: 190px;
  font-weight: bold;
}

.accordion-rr {
  border: #111111 1px solid;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-top: 1rem;
  padding-bottom: 0.5rem;

  .usa-accordion__button {
    &:hover {
      background-color: #f0f0f0;
    }

    position: relative;
    background: white;
    padding: 12px;
    font-weight: normal;

    &[aria-expanded="true"] {
      border-bottom: #111111 1px solid;
    }
  }

  .usa-accordion__content {
    padding: 0;
  }
}

.usa-accordion__content {
  margin-top: -80px;
}

.minimize-container {
  position: absolute;
  right: 12px;
}

.list-style-none {
  list-style: none;
}

.ecrTable {
  table-layout: fixed;
  margin-bottom: 0;
  width: 100%;

  td:first-child,
  th:first-child {
    padding-left: 24px;
  }

  td:last-child,
  th:last-child {
    padding-right: 24px;
  }

  td {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  thead th {
    border-bottom-color: #a9aeb1;
  }

  tr td {
    border-bottom: none;
  }
}

.usa-summary-box__body:not(:first-child) .summary-box-key-information {
  margin-top: 20px;
}

.table-caption-margin {
  caption {
    margin-bottom: 8px;
  }
}

.usa-sidenav__item a:not(.usa-sidenav__sublist a) {
  font-weight: bold;
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.ecr-content h2:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

.lh-18 {
  line-height: 18px;
}

ul.usa-sidenav
  > li.usa-sidenav__item
  > ul.usa-sidenav__sublist
  > li.usa-sidenav__item
  > a {
  font-weight: bold;
}

ul.usa-sidenav
  > li.usa-sidenav__item
  > ul.usa-sidenav__sublist
  > li.usa-sidenav__item
  > a.usa-current {
  &::after {
    background-color: rgb(0, 94, 162);
    content: "";
    display: block;
    position: absolute;
    bottom: 0.25rem;
    top: 0.25rem;
    width: 0.25rem;
    left: 0rem;
    border-radius: 99rem;
  }
}

.clinical_info_container table {
  @include usa-table;
  @include usa-table--borderless;
  width: 100%;
  border: 1px solid;
  margin-top: 0;
  margin-bottom: 0;
}

.clinical_info_container table thead tr th {
  background-color: #f0f0f0;
  min-width: 120px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(247, 249, 250, 1);
}

.main-body {
  display: grid;
  grid-template-columns: 1fr; // Defines a single column
  justify-content: center; // Centers the column in the container
  row-gap: 0.1em; // Adjusts the gap between rows/items
  background-color: rgba(247, 249, 250, 1);
}

.home {
  display: grid;
  grid-template-columns: 1fr; // Defines a single column
  justify-content: center; // Centers the column in the container
  margin: 0 auto; // Centers the container itself if needed
  row-gap: 0.1em; // Adjusts the gap between rows/items
  max-width: 640px;
  padding: 1em;
}

.usa-footer {
  margin-top: auto;
  background-color: green !important;
}

.next-button {
  max-width: 10em;
}

.search-form-section-label {
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.usa-label {
  margin-top: 1.5rem;
}

.patient-search-button {
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 11em;
}

.text-base-lightest {
  color: #f0f0f0 !important;
}

.usa-table--borderless {
  border: 1px solid black;

  thead tr th {
    background-color: #f0f0f0;
  }

  width: 100%;
}

.header-footer-content {
  max-width: 98rem !important;
}

.usa-logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 6px solid #f3f3f3;
  /* Light grey */
  border-top: 6px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.content-hidden {
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

html {
  scroll-behavior: auto;
}

.gradient-blue-background {
  background: linear-gradient(
    109.54deg,
    rgba(173, 207, 220, 0.025) 8.02%,
    rgba(46, 98, 118, 0.5) 117.53%
  );

  padding: 0.5rem;
  /* Optional: some padding to make the background more noticeable */
  justify-content: left;
  display: flex;

  .container {
    display: flex;

    margin: 0 auto; // Centers the container itself if needed
    max-width: 640px;
  }
}

.test-query-filler {
  background: #faf3d1;
  border: 1px solid #fee685;
  border-radius: 4px;

  .usa-label {
    margin-top: 0;
  }
}

.query-page-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.usa-button--outline:hover,
.usa-button--outline.usa-button--hover {
  background-color: white;
}

.margin-top-1 {
  margin-top: 0.5rem;
  width: 360px;
}

.custom-alert {
  color: #2e6276;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0;
}

.custom-alert .usa-alert__text {
  color: #2e6276;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}

.custom-alert .usa-alert__body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  white-space: nowrap;
}

.custom-alert .usa-alert__body::before {
  content: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%232e6276'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-6h2v6zm0-8h-2V7h2v4z'/%3E%3C/svg%3E");
  display: inline-block;
}

.blue-background-container {
  width: 100%;
  background-color: #e7f2f5;
  padding: 2rem 0;
}

.blue-background-container .text-holder {
  max-width: 640px;
  margin: 0 auto;
  text-align: left;
}

.usa-modal--lg {
  background-color: #edeff0;
  padding-top: 0;
}

.usa-modal__content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.usa-modal__main {
  margin: 0 auto;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 2rem !important;
}

.usa-modal__heading {
  font-family: "Source Sans Pro Web" !important;
  font-size: 1.219rem !important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}

/* Styles for the customize page */
.usa-accordion {
  border-radius: 4px;
  padding: 0px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.back-link {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.unchanged-color-on-visit:visited {
  color: #005ea2;
}

hr.custom-hr {
  width: 100%;
  height: 0px;
  background-color: #ddd;
  margin-top: -6px;
  margin-bottom: 0;
  border: none;
  border-top: 1px solid #71767a;
}

.Toastify__toast-container {
  width: calc($tefca-viewer-max-width * 0.4) !important;
}

.custom-query-step-indicator .usa-step-indicator__header {
  display: none !important;
  .customize-accordion .usa-accordion__button[aria-expanded="true"],
  .customize-accordion .usa-accordion__button[aria-expanded="false"] {
    background-size: 16px 10px;
    background-position: top 24px right 20px;
  }

  .customize-accordion .usa-accordion__button[aria-expanded="true"] {
    background-image: url("./assets/expandUp.svg");
  }

  .customize-accordion .usa-accordion__button[aria-expanded="false"] {
    background-image: url("./assets/expandDown.svg");
  }

  .customize-accordion .usa-accordion__content {
    padding: 0rem;
  }

  .no-margin-top-important {
    margin-top: 0 !important;
  }

  .resultsViewSideNav .usa-sidenav,
  .resultsViewSideNav .usa-sidenav__item {
    border: none !important;
  }

  .tableRowWithHover:hover td {
    background-color: $background-hover-color;
  }

  .tableRowWithHover_clickable,
  .tableRowWithHover_clickable td {
    cursor: pointer;
  }
}
