# Build output
target/
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
!test_zip.zip
*.tar.gz
*.rar
node_modules

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE
.idea/
*.iml

# macOS
.DS_Store

# Python-Virtual Environments
.venv
.python-version

# Python-Sphinx
/_source
_build
doctrees

# Python-Coverage
.coverage
coverage.xml

# PyPI
.pypitoken

# Azure Functions
*local.settings.json
bin/
obj/
extensions.csproj

# Local Data Storage
__azurite*
__blobstorage__
__pycache__/
.pytest_cache/
data/

# Jetbrains IDE settings
/.idea

# Notebooks
*.ipynb*
!examples/**/*.ipynb*

# VS Code
/.vscode/settings.json

persistent_storage/

/kubernetes/secrets.yaml
.next

*.egg-info
build/

## ECR Viewer Seed data
/containers/ecr-viewer/seed-scripts/fhir_data/

.turbo
out
tsconfig.tsbuildinfo
.env.local