repos:
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.12.0
    hooks:
      - id: reorder-python-imports
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --no-sort-keys]
        exclude: ".*valid.*|containers/ecr-viewer/seed-scripts/fhir_data/.*"
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v9.0.0-beta.0"
    hooks:
      - id: eslint
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
        additional_dependencies:
          - eslint
          - eslint-config-next
          - eslint-config-prettier
          - "@typescript-eslint/parser"
          - "@typescript-eslint/eslint-plugin"
          - typescript
          - "@next/eslint-plugin-next"
          - eslint-plugin-unused-imports
        args: ["--config=./containers/ecr-viewer/.eslintrc.json"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [css, javascript, tsx, ts, yaml]
  - repo: local
    hooks:
      # run `terraform fmt` if tf files are modified and terraform is installed
      # when terraform is not installed, this check will succeed even if tf files
      # would not pass the format check
      - id: terraform-fmt
        name: terraform-fmt
        entry: bash -c 'if command -v terraform >/dev/null 2>&1; then terraform fmt -recursive -check operations; else exit 0; fi'
        language: system
        types:
          - terraform
        pass_filenames: false
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip: [pretty-format-json, terraform-fmt]
  submodules: false
