@use 'uswds-core' as *;

.section__line {
  border-top: 1px solid #99DEEA;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.vertical-line {
  border-left: 1px solid #005EA2;
  margin-left: .5rem;
  margin-right: .5rem;
}

.section__line_gray {
  border-top: 1px solid #DFE1E2;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.card__line {
  border-top: 8px solid #EDEFF0;
}

#ecr-summary {
  font-size: 40px;
}

h2 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  margin: 0;
}

.maxw7 {
  max-width: 68%;
}

.page-title {
  font-size: 32px;
  color: white;
  background-color: #162e51;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 32px;
  margin-top: 0px;
}



.info-container {
  width: 775px;
}

.data-title {
  flex:0 1 auto;
  width: 190px;
  font-weight: bold;
}

.ecr-summary-title-long {
  font-weight: bold;
  margin-bottom: 8px;
}

.info-container > .usa-accordion__heading > .usa-accordion__button {
  font-size: 2rem;
  background-size: 2.25rem;

  &[aria-expanded="false"] {
    margin-bottom: 2.5rem;
  }
}

.accordion-rr {
  border: #111111 1px solid;
  border-radius: .25rem;
  overflow: hidden;
  margin-top: 1rem;
  &:focus-within{
    border: #2491ff .25rem solid;
  }
  .usa-accordion__button {
    @include u-text('ink');
    font-size: 1.125rem;
    font-weight: normal;
    background-color: color("white");
    @include add-background-svg("usa-icons/remove");
    border-bottom: #111111 1px solid;

    &:hover {
      background-color: #F0F0F0;
    }

    &[aria-expanded="false"] {
      border-bottom: 0;
      @include add-background-svg("usa-icons/add");
    }
  }

  .usa-prose > table {
    overflow-wrap: break-word;
    width: calc(100% + 2.5rem);
    margin-right: -1.25rem;
    margin-left: -1.25rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    border-bottom: #1b1b1b 1px solid;
    thead th {
      background-color: #F0F0F0;
    }
    tr td{
      border-bottom: 0;
    }
    .hideableData {
      border-top: color("base-lighter") 1px solid;
    }
  }
}
.caption-normal-weight{
  caption {
    font-weight: normal;
  }
}

.usa-table {
  overflow-wrap: break-word;
  thead th {
    background-color: #F0F0F0;
    vertical-align: top;
  }
  th,td {
    padding: .75rem;
  }
}

.table-homepage-list {
  max-width: 840px !important;
  font-size: 16px !important;
  thead th {
    background-color: white !important;
  }

  tbody td:first-child {
    width: 644px;
  }
}

.table-clinical-problems {
  tbody td:nth-child(2) {
    min-width: 130px;
  }
  tbody td:nth-child(3) {
    min-width: 100px;
  }
}

.minimize-container {
  position: absolute;
  right: 12px;
}

.list-style-none {
  list-style: none;
}

.tableHeader {
  background-color: #F0F0F0 !important;
}

.ecrTable {
    table-layout: fixed;
    margin-bottom: 0;
    width: 100%;
    td:first-child, th:first-child {
      padding-left: 24px;
    }
    td:last-child, th:last-child {
      padding-right: 24px;
    }
    td {
      padding-top: 14px;
      padding-bottom: 14px;
    }
    thead th{
      border-bottom-color: #A9AEB1;
    }
    tr td{
      border-bottom: none;
    }
}

.ecrTable {
    table-layout: fixed;
    width: 100%;
}

td {
  vertical-align: top;
}

.usa-summary-box__body:not(:first-child) .summary-box-key-information {
  margin-top: 20px;
}

.table-caption-margin {
  caption {
    margin-bottom: 8px;
  }
}
.usa-sidenav__item a:not(.usa-sidenav__sublist a) {
  font-weight: bold;
}

.homepage-wrapper {
  display: flex;
  max-width: 1440px;
  gap: 48px;
  overflow: visible;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  .usa-table {
    margin-bottom: 0 !important;
  }

  .usa-pagination {
    margin-top: 0 !important;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  overflow: visible;
}

.content-wrapper {
  display: flex;
  max-width: 1440px;
  justify-content: center;
  gap: 48px;
  overflow: visible;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 48px;
  width: 250px;
}

.sticky-nav {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  position: sticky;
  top: 0;
}

.ecr-viewer-container {
  display: flex;
  flex-basis: auto;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}

.ecr-content {
  max-width: 1440px;
}
.ecr-content h1:first-of-type {
    margin-top: 0;
    padding-top: 0;
}

.lh-18 {
  line-height: 18px;
}

ul.usa-sidenav > li.usa-sidenav__item > ul.usa-sidenav__sublist > li.usa-sidenav__item > a {
    font-weight: bold;
}

ul.usa-sidenav > li.usa-sidenav__item > ul.usa-sidenav__sublist > li.usa-sidenav__item > a.usa-current,
ul.usa-sidenav > li.usa-sidenav__item > ul.usa-sidenav__sublist > li.usa-sidenav__item > ul.usa-sidenav__sublist > li.usa-sidenav__item > a.usa-current {
    &::after{
      background-color: rgb(0, 94, 162);
      content: "";
      display: block;
      position: absolute;
      bottom: 0.25rem;
      top: 0.25rem;
      width: 0.25rem;
      left: 0rem;
      border-radius: 99rem;
    }
}

.usa-sidenav__sublist li.usa-sidenav__item:first-child{
  border-top: none !important;
}

.clinical_info_container table {
  @include usa-table;
  @include usa-table--borderless;
  width: 100%;
  border: 1px solid;
  margin-top: 0;
  margin-bottom: 0;
}

.clinical_info_container table thead tr th {
  background-color: #f0f0f0;
  min-width: 120px;
}

.immunization_table {
  tr {
    td:nth-child(1) {
      word-break:break-word
    }
  }
}

.reportability_summary_header {
  width: 190px;
}

.usa-accordion__content {
  overflow: visible;
}


.usa-tooltip__body {
  max-width: 700px;
  min-width: 450px;
  white-space: normal;
  text-align: left;
  font-weight: normal;
  padding-left: 1rem;
  padding-right: 1rem;
}

.short-tooltip + .usa-tooltip__body {
  min-width: 350px;
}


@keyframes shimmer {
  to {
     background-position-x: 0%
  }
}

.loading-blob {
  border-radius: 8px;
  animation: shimmer 0.75s infinite linear;

  &-blue-small {
    background: linear-gradient(-90deg, #99DEEA 40%, #71D5E6 50%, #99DEEA 60%);
    background-size: 300%; //for whatever reason, it won't work if you move this to the parent
    background-position-x: 100%;
  }

  &-blue-big {
    background: linear-gradient(-90deg, #99DEEA 45%, #71D5E6 50%, #99DEEA 55%);
    background-size: 300%;
    background-position-x: 100%;
  }

  background: #DFE1E2;

  &-gray-small {
    background: linear-gradient(-90deg, #F0F0F0 40%, #E4E4E4 50%, #F0F0F0 60%);
    background-size: 300%;
    background-position-x: 100%;
  }

  &-gray-big {
    background: linear-gradient(-90deg, #F0F0F0 45%, #E4E4E4 50%, #F0F0F0 55%);
    background-size: 300%;
    background-position-x: 100%;
  }
}

.usa-header{
  background-color: #172E51;
  color: white;
  .usa-logo {
    a {
      color: white;
    }
  }
  @media (min-width: 64em) {
    .usa-logo {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }
  }
  .usa-nav-container{
    max-width: 65rem;
  }
  h1{
    font-style: normal;
    font-weight: 700;
    font-size: 1.46rem;
  }
}