@use 'uswds-core' as *;

$ecr-viewer-container-max-width: 80rem;
$ecr-viewer-container-min-width: 40rem;
$ecr-viewer-gap: 3rem;
$nav-wrapper-width: 15.625rem;
$main-container-padding: 1rem;
$main-min-width: $ecr-viewer-container-min-width + $ecr-viewer-gap + $nav-wrapper-width + $main-container-padding * 2;

.section__line {
  border-top: 1px solid #99DEEA;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.vertical-line {
  border-left: 1px solid #005EA2;
  margin-left: .5rem;
  margin-right: .5rem;
}

.section__line_gray {
  border-top: 1px solid #DFE1E2;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.card__line {
  border-top: 8px solid #EDEFF0;
}

h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  margin: 0;
}

.maxw7 {
  max-width: 68%;
}

.page-title {
  font-size: 32px;
  color: white;
  background-color: #162e51;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 32px;
  margin-top: 0px;
}

.data-title {
  flex: 0 1 auto;
  width: 190px;
  font-weight: bold;
}

.ecr-summary-title-long {
  font-weight: bold;
  margin-bottom: 8px;
}

.info-container>.usa-accordion__heading>.usa-accordion__button {
  font-size: 2rem;
  background-size: 2.25rem;

  &[aria-expanded="false"] {
    margin-bottom: 2.5rem;
  }
}

.accordion-rr {
  border: #111111 1px solid;
  border-radius: .25rem;
  overflow: hidden;
  margin-top: 1rem;

  &:focus-within {
    border: #2491ff .25rem solid;
  }

  .usa-accordion__button {
    @include u-text('ink');
    font-size: 1.125rem;
    font-weight: normal;
    background-color: color("white");
    @include add-background-svg("usa-icons/remove");
    border-bottom: #111111 1px solid;

    &:hover {
      background-color: #F0F0F0;
    }

    &[aria-expanded="false"] {
      border-bottom: 0;
      @include add-background-svg("usa-icons/add");
    }
  }

  .usa-prose>table {
    overflow-wrap: break-word;
    width: calc(100% + 2.5rem);
    margin-right: -1.25rem;
    margin-left: -1.25rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    border-bottom: #1b1b1b 1px solid;

    thead th {
      background-color: #F0F0F0;
    }

    tr td {
      border-bottom: 0;
    }

    .hideableData {
      border-top: color("base-lighter") 1px solid;
    }
  }
}

.caption-normal-weight {
  caption {
    font-weight: normal;
  }
}

.usa-table {
  overflow-wrap: break-word;

  thead th {
    background-color: #F0F0F0;
    vertical-align: top;
  }

  th,
  td {
    padding: .75rem;
  }
}

.ecr-library-wrapper {
  height: calc(100% - 4rem);
}

.table-ecr-library {
  font-size: 1rem;
  border-collapse: separate;
  font-family: "Source Sans Pro Web";

  a {
    color: var(--Primary-primary, #005EA2);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
  }

  a, u {
    text-decoration: none;
  }

  tbody tr td div {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
  }

  &.usa-table--striped tbody tr:nth-child(odd) td {
    background-color: white;
  }

  &.usa-table--striped tbody tr:nth-child(even) td {
    background-color: color("base-lightest");
  }

  thead {
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);

    th {
      background-color: color("base-lighter");
      border-bottom: 1px solid var(--Base-base, #71767A);
    }
  }

  thead tr th:first-child, tbody tr td:first-child {
    padding-left: 1.5rem;
  }

  tbody td {
    border-top: 0;
    border-bottom: 1px solid var(--ink, #111);
  }

  tbody tr:last-child td {
    border-bottom: none;
  }
}

.table-clinical-problems {
  tbody td:nth-child(2) {
    min-width: 130px;
  }

  tbody td:nth-child(3) {
    min-width: 100px;
  }
}

.minimize-container {
  position: absolute;
  right: 12px;
}

.list-style-none {
  list-style: none;
}

.tableHeader {
  background-color: #F0F0F0 !important;
}

.ecrTable {
  table-layout: fixed;
  margin-bottom: 0;
  width: 100%;

  td:first-child,
  th:first-child {
    padding-left: 24px;
  }

  td:last-child,
  th:last-child {
    padding-right: 24px;
  }

  td {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  thead th {
    border-bottom-color: #A9AEB1;
  }

  tr td {
    border-bottom: none;
  }
}

.fixed-table {
  table-layout: fixed;
}

td {
  vertical-align: top;
}

.table-caption-margin {
  caption {
    margin-bottom: 8px;
  }
}

.usa-sidenav__item a:not(.usa-sidenav__sublist a) {
  font-weight: bold;
}

.pagination-bar {
  .usa-pagination {
    margin: 0;
  }

  box-shadow: 0 -0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}

.main-container {
  display: flex;
  justify-content: center;
  overflow: visible;
}

.minw-main {
  min-width: $main-min-width;
}

.width-main {
  max-width: $main-min-width + $ecr-viewer-container-max-width - $ecr-viewer-container-min-width;
  min-width: $main-min-width;
  width: 100%;
}

.padding-main {
  padding-left: $main-container-padding;
  padding-right: $main-container-padding;
}

.back-button-wrapper {
  display: flex;
  .usa-icon{
    color: #71767A;
    margin-right: .5rem;
  }
  .usa-link {
    text-decoration-line: underline;
    align-items: center;
  }
}

.back-button {
  margin-bottom: 1.5rem;
}

.content-wrapper {
  display: flex;
  gap: $ecr-viewer-gap;
  overflow: visible;
}

.nav-wrapper {
  margin-top: 1.5rem;
  padding-top: .63rem;
  width: $nav-wrapper-width;
  min-width: $nav-wrapper-width;
  position: sticky;
  height: 100vh;
}

.ecr-viewer-container {
  width: 100%;
  max-width: $ecr-viewer-container-max-width;
  min-width: $ecr-viewer-container-min-width;
}

.lh-18 {
  line-height: 18px;
}

ul.usa-sidenav>li.usa-sidenav__item>ul.usa-sidenav__sublist>li.usa-sidenav__item>a {
  font-weight: bold;
}

ul.usa-sidenav>li.usa-sidenav__item>ul.usa-sidenav__sublist>li.usa-sidenav__item>a.usa-current,
ul.usa-sidenav>li.usa-sidenav__item>ul.usa-sidenav__sublist>li.usa-sidenav__item>ul.usa-sidenav__sublist>li.usa-sidenav__item>a.usa-current {
  &::after {
    background-color: rgb(0, 94, 162);
    content: "";
    display: block;
    position: absolute;
    bottom: 0.25rem;
    top: 0.25rem;
    width: 0.25rem;
    left: 0rem;
    border-radius: 99rem;
  }
}

.usa-sidenav__sublist li.usa-sidenav__item:first-child {
  border-top: none !important;
}

.clinical_info_container table {
  @include usa-table;
  @include usa-table--borderless;
  width: 100%;
  border: 1px solid;
  margin-top: 0;
  margin-bottom: 0;
}

.clinical_info_container table thead tr th {
  background-color: #f0f0f0;
  min-width: 120px;
}

.immunization_table {
  tr {
    td:nth-child(1) {
      word-break: break-word
    }
  }
}

.usa-accordion__content {
  overflow: visible;
}


.usa-tooltip__body {
  max-width: 700px;
  min-width: 450px;
  white-space: normal;
  text-align: left;
  font-weight: normal;
  padding-left: 1rem;
  padding-right: 1rem;
}

.short-tooltip+.usa-tooltip__body {
  min-width: 350px;
}


@keyframes shimmer {
  to {
    background-position-x: 0%
  }
}

.loading-blob {
  border-radius: 8px;
  animation: shimmer 0.75s infinite linear;

  &-blue-small {
    background: linear-gradient(-90deg, #99DEEA 40%, #71D5E6 50%, #99DEEA 60%);
    background-size: 300%; //for whatever reason, it won't work if you move this to the parent
    background-position-x: 100%;
  }

  &-blue-big {
    background: linear-gradient(-90deg, #99DEEA 45%, #71D5E6 50%, #99DEEA 55%);
    background-size: 300%;
    background-position-x: 100%;
  }

  background: #DFE1E2;

  &-gray-small {
    background: linear-gradient(-90deg, #F0F0F0 40%, #E4E4E4 50%, #F0F0F0 60%);
    background-size: 300%;
    background-position-x: 100%;
  }

  &-gray-big {
    background: linear-gradient(-90deg, #F0F0F0 45%, #E4E4E4 50%, #F0F0F0 55%);
    background-size: 300%;
    background-position-x: 100%;
  }
}

.usa-header {
  background-color: #172E51;
  color: white;

  .usa-logo {
    margin-left: 0px;

    a {
      color: white;
    }
  }

  .usa-navbar {
    border-bottom: none;
  }

  @media (min-width: 64em) {
    .usa-logo {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }

    .usa-nav-container {
      max-width: 65rem;
      margin-left: 0px;
      padding: 0.5rem 1.5rem;
    }
  }

  .usa-nav-container {
    max-width: 65rem;
    margin-left: 0px;
    padding: 0.5rem 1.5rem;
  }

  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
  }
}

.p-list {
  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.header-with-tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tag-info {
  display: flex;
  padding: 0.25rem 0.5rem;
  justify-content: center;
  align-items: center;

  border-radius: 0.125rem;
  background-color: #99DEEA;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 100%;
  color: #111111;
}

.patient-banner {
  display: flex;
  padding: 0.5rem 1.5rem;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  min-height: 44px;

  background: var(--Info-info-darker, #2E6276);

  color: var(--White, #FFF);

  font-size: 1.375rem;
  font-style: normal;
  line-height: normal;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.patient-banner-name {
  font-weight: bold;
}

.patient-banner-dob {
  font-weight: normal;
}

h3 {
  font-size: 1.375rem;
}

.usa-summary-box {
  padding: 0.75rem 1.5rem 1.5rem 1.5rem;
  h3:not(.usa-accordion__heading) {
    margin: 0px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.condition-details-accordion {
  .usa-accordion__heading.border-accent-cool-darker {
    &:not(:first-child) {
      margin-top: 1.12rem;
    }
  }
  .usa-accordion__content.border-accent-cool-darker {
    padding: .5rem .75rem 0 .75rem;
  }
  .usa-accordion.accordion-rr {
    margin: .5rem 0 .75rem 0;
  }
  .usa-accordion__button {
    padding: .88rem .75rem;
  }
}
