.section__line {
  border-top: 1px solid #99DEEA;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

h2 {
  font-size: 40px;
  margin-top: 24px;
  margin-bottom: 24px;
}

h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  margin: 0;
}

.page-title {
  font-size: 32px;
  color: white;
  background-color: #162e51;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 32px;
  margin-top: 0px;
}

.ecr-viewer-container {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 887px;
}

.info-container {
  width: 687px;
}

.data-title {
  flex:0 1 auto;
  width: 190px;
}