.section__line {
  border-top: 1px solid #99DEEA;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.section__line_gray {
  border-top: 1px solid #DFE1E2;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.card__line {
  border-top: 8px solid #EDEFF0;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  margin: 0;
}

.maxw7 {
  max-width: 70%;
}

.page-title {
  font-size: 32px;
  color: white;
  background-color: #162e51;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 32px;
  margin-top: 0px;
}

.ecr-viewer-container {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 887px;
}

.info-container {
  width: 687px;
}

.data-title {
  flex:0 1 auto;
  width: 190px;
}

.usa-accordion__button {
  font-size: 32px;
  color: white !important;
  background-color: #2E6276;
}

.usa-accordion__button:hover {
  background-color: #2E6276;
}
.list-style-none {
  list-style: none;
}

.ecrTable {
    table-layout: fixed;
    margin-bottom: 0;
    width: 100%;
    td:first-child, th:first-child {
      padding-left: 24px;
    }
    td:last-child, th:last-child {
      padding-right: 24px;
    }
    td {
      padding-top: 14px;
      padding-bottom: 14px;
    }
    thead th{
      border-bottom-color: #A9AEB1;
    }
    tr td{
      border-bottom: none;
    }
}

.usa-summary-box__body:not(:first-child) .summary-box-key-information {
  margin-top: 20px;
}

.lh-24 {
  line-height: 18px;
}
