.top-550 {
  top: 2.75rem;
}

.margin-right-1025{
  margin-right: .625rem;
}

.minw-1605 {
  min-width: 8.25rem;
}

.minw-1705 {
  min-width: 8.75rem;
}

.minw-20 {
  min-width: 10rem;
}

.minw-23 {
  min-width: 11.5rem;
}

.minw-2305 {
  min-width: 11.75rem;
}

.minw-28 {
  min-width: 14rem;
}

.width-11075 {
  width: 5.875rem;
}

.width-20{
  width: 10rem;
}

.width-38 {
  width: 19rem;
}

.width-40 {
  width: 20rem;
}

.width-62 {
  width: 31rem;
}

.width-25p {
  width: 25%;
}

.padding-top-1-25 {
  padding-top: 0.625rem;
}

.visibility-hidden {
  visibility: hidden;
}