anyio==3.7.1
asgiref==3.5.2
attrs==22.1.0
certifi==2024.7.4
charset-normalizer==2.1.0
click==8.1.3
dnspython==2.6.1
email-validator==1.2.1
fastapi>=0.109.1
h11==0.13.0
httpcore==0.17.0
httptools==0.6.1
httpx==0.24.0
idna==3.7
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.1
orjson==3.9.15
packaging==21.3
pluggy==1.0.0
pydantic==1.10.13
pyparsing==3.0.9
pytest==7.1.2
python-dotenv==0.20.0
python-multipart==0.0.7
PyYAML==6.0.1
requests==2.32.2
six==1.16.0
sniffio==1.2.0
starlette==0.36.3
syrupy==4.6.1
testcontainers[compose]==3.7.1
tomli==2.0.1
typing_extensions>=4.8.0
ujson==5.4.0
urllib3==1.26.19
uvicorn==0.17.6
watchgod==0.8.2
websockets==10.3
uuid
lxml
hl7
