anyio
asgiref
attrs
certifi
charset-normalizer
click
dnspython
email-validator
h11
httptools
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
orjson
packaging
phdi
pluggy
py
pydantic
pyparsing
pytest
python-dotenv
python-multipart
PyYAML
requests
six
sniffio
starlette
tomli
typing_extensions
ujson
urllib3
uvicorn
uvloop
watchgod
websockets
uuid
