.customizeQueryNav {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding-top: 2rem;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
}

.customizeQueryNav ul {
  display: flex;
  align-items: flex-start;
  color: #565c65;
  border: none;
}

.customizeQueryNav li {
  border: none;
}

.customizeQueryNav a {
  padding: 0rem 1rem !important;
}

.customizeQueryNav a:hover,
.customizeQueryNav a:focus {
  color: #565c65;
  background-color: transparent;
  border: none;
  outline: none;
}

.customizeQueryNav .currentTab {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  color: #565c65;
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
}

.customizeQueryNav .currentTab::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #005ea2;
}

.customizeQueryNav ul::after {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
}

.noBorderNoBackgroundNoPadding {
  border: none !important;
  background-color: transparent !important;
  padding: 0 !important;
}

.customizeQueryCheckbox {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #a9aeb1 !important;
  border-radius: 0.25rem;
  margin: 0.5rem;
  padding: 0 !important;
}

.customizeQueryCheckbox svg {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.accordionHeader {
  display: flex;
  width: 100%;
  color: var(--White, #fff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 1.25rem;
}

.accordionSubtitle {
  display: block;
  font-weight: normal;
  font-size: 16px;
  color: var(--White, #fff);
  font-size: 16px;
  line-height: normal;
}

.accordionButtonTitle {
  max-width: 40rem;
  width: 100%;
}

.customizeQueryAccordion button {
  background-color: #565c65;
}

.customizeQueryAccordion button:hover,
.customizeQueryAccordion button:focus {
  background-color: #565c65;
  outline: none;
}

.resultsContainer {
  padding-bottom: 1.25rem;
}

.customizeQueryGridContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #71767a;

  --column-spacing: 3.75rem 6.25rem 1fr;
  --column-gap: 3.75rem;
}

.customizeQueryGridHeader {
  display: grid;
  align-items: center;
  padding: 0.65rem 1.5rem;
  border-bottom: 1px solid #71767a;
  width: 100%;
  grid-template-columns: var(--column-spacing);
  gap: var(--column-gap);
}

.customizeQueryGridHeader th {
  padding: 0 !important;
}

.accordionTableHeader {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  word-wrap: break-word;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
}

.customizeQueryGridRow {
  display: grid;
  grid-template-columns: var(--column-spacing);
  gap: var(--column-gap);
  align-items: center;
  padding: 0.88rem 1.5rem;
}

.customizeQueryGridRow:nth-child(even) {
  background-color: rgba(223, 225, 226, 0.5);
  border-bottom: 1px solid #71767a;
  border-top: 1px solid #71767a;
}

.customizeQueryGridRow:last-child {
  border-bottom: none;
}

.bulkSelectLink {
  padding: 1.25rem 0;
  text-decoration: underline;
  padding-right: 1rem;
}
