version: '3.8'

services:
  # PostgreSQL database
  db:
    image: "postgres:alpine"
    ports:
      - "5432:5432"
    volumes:
      - ./seed-scripts/init.sql:/docker-entrypoint-initdb.d/01-init.sql
      - ./seed-scripts/.pgpass/:/usr/local/lib/.pgpass
    environment:
      - POSTGRES_USER=postgres
      - PGUSER=postgres
      - POSTGRES_PASSWORD=pw
      - POSTGRES_DB=ecr_viewer_db
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 2s
      timeout: 5s
      retries: 20

  # Python seeding
  seed-db:
    build:
      context: "./seed-scripts"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=pw
      - POSTGRES_DB=ecr_viewer_db
      - DATABASE_CONNECTION=db
      - DATABASE_PORT=5432
    depends_on:
      db:
        condition: service_healthy


  # Next.js app
  nextjs-app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./src/app:/app
    environment:
      - DATABASE_URL=postgres://postgres:pw@db:5432/ecr_viewer_db
    depends_on:
      seed-db:
        condition: service_completed_successfully
      db:
        condition: service_healthy

