typing_extensions==4.5.0
pydantic==1.10.9
fastapi==0.96.0
phdi @ git+https://github.com/CDCgov/phdi@main
uvicorn
httpx
pytest
frozendict
requests
python-dotenv
python-multipart
pytest-env
testcontainers[compose]
websockets
asyncio
