../dibbs
typing_extensions>=4.8.0
pydantic==1.10.13
fastapi>=0.109.1
uvicorn
httpx
pytest
lxml
frozendict
requests
python-dotenv
python-multipart
pytest-env
pytest-asyncio
testcontainers[compose]==4.1.1
websockets
asyncio
sqlalchemy
requests-mock
psycopg2-binary==2.9.9
pytest-mock
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-exporter-prometheus