typing_extensions>=4.8.0
pydantic
fastapi>=0.109.1
phdi @ git+https://github.com/CDCgov/phdi@main
uvicorn
httpx
pytest
frozendict
requests
python-dotenv
python-multipart
pytest-env
pytest-asyncio
testcontainers[compose]
websockets
asyncio
sqlalchemy