azure-communication-identity
azure-communication-phonenumbers
azure-communication-sms
azure-identity
phdi @ git+https://github.com/CDCgov/phdi.git@main
fastapi
uvicorn
httpx
slack_sdk
pymsteams
pytest