.searchCallToActionButton {
  height: 2.5rem;
}

.selectQueryHeaderText {
  line-height: 2.0625rem;
  word-wrap: break-word;
  font-size: 2.5rem;
}

.selectQueryExplanationText {
  padding-top: 0.75rem;
  padding-bottom: 1.5rem;
  line-height: 2.0625rem;
  word-wrap: break-word;
  font-size: 1.375rem;
  width: 50.6875rem;
}

.queryRow {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
}

.customizeButton {
  margin-left: 1.25rem;
  margin-top: 0.5rem;
}

.queryDropDown {
  display: flex;
  width: 20rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
